:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
  }

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;    
}

.header-web {
    color: var(--accent-color);
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.list {
    list-style: none;
}

/* site-nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link:active {
    color: var(--accent-color);
}

.site-nav .current:visited {
    color: var(--accent-color);
}

/* section */
.section-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-name {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.work-name {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}


/* hero */
.hero-title {
    color: var(--primary-white-color);
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* contacts */
.contacts-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacnts-title:hover,
.contacnts-title:focus {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--secondary-text-color);
    background: #2F303A;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.contacnts-link:hover,
.contacnts-link:focus {
    color: var(--accent-color);
}

.adress {    
    font-style: normal;
}

.adress-title {
    color: var(--primary-white-color);
    background: #2F303A;    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Our team */

.team {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* Button */

button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
}

button:hover,
button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* footer */

.social {
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #2F303A;
}

.social-link {
    background: #2F303A;
}